<div class="row">
    <div class="col-6">
       <div class="form-group">
        <label for="taskInput">Add New Task:</label>
        <input id="taskInput" type="text" class="form-control" 
        placeholder="Enter task here" [(ngModel)]="newTask">
       </div>
    </div>
        
    <div class="col-3 mt-4">
         <button class="btn btn-success" (click)="addTask()" [disabled]=!newTask.length>Add</button>
    </div>
    <div class="col-3 mt-4">
        <button class="btn btn-danger"  (click)="resetForm()" [disabled]=!newTask.length>Reset</button>
    </div>
</div>
